<!DOCTYPE html>
<html>
<body>

<h1>ExTranSQL</h1>

<form action='/process' method='post' enctype='multipart/form-data'>
	{% csrf_token %}
	<label for='email'>Email:</label>
    <input id='email' type='text' name='email' value='Enter email' required>
    <br><br>
    <label for='raw_file'>File:</label>
    <input id='raw_file' type='file' name='raw_file' accept='.csv, .xls, .xlsx' required>
    <p><i>*Select a .csv, .xls or .xlsx file to upload.</i></p>
	<input type='submit' value='Submit'>
</form> 


</body>
</html>